<body class="container">
    <app-form (pageAdded)=" addUrl($event) "></app-form>
    <table border="1" class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Página</th>
                <th>Link</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let url of urls; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{url.nombre}}</td>
                <td><a [attr.href]="'https://'+ url.url">Ir a</a></td>
                <td><button class="btn btn-warning" (click)="deleteUrls(i)">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</body>